/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.ttf'); /* IE9 Compat Modes */
}

body {
  font-family: 'OpenSans';
  padding:0px;
  margin:0px;
}

.inline-block{
	display: inline-block;
}

.menu{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background-color:#1c1c1c; 
	width:151px;
	height: 100%;
}

.img-usuario{
	padding: 25px 56px;
	margin-bottom: 90px;
}

.button-menu{
	position: relative;
	text-align: center;
}

.button-menu img{
	display: block;
	margin-left: 20px;
	margin-bottom: 5px;
}

.button-menu a{
	font-size: 13px;
	display: block;
	padding: 15px 45px;
	color: #7e8389;
	text-decoration: none;
}

.down{
	margin-bottom: 220px;
}

.button-menu a:hover{
	display: block;
	padding: 15px 45px;
	color: white;
	text-decoration: none;
	/*
	width: 120;
	height: 69;
	border-top: 5px solid transparent;
	border-right: 5px solid #57ade1;
	border-bottom: 5px solid transparent;*/	
}

.button-menu .arrow-blue{
	display: none;
	float: right;
	margin-top: 25px;
}

.button-menu .arrow-blue.on{
	display: block;
}

.task-wrapper{
	display: none;
	position: absolute;
	text-align: center;
	width: 300px;
	background-color: rgba(87, 173, 225, 0.95);
	top: 0;
	left: 151px;
	height: 70px;
	border-radius: 0 3px 3px 0;
}

.task-wrapper.on {
	display: block;
}

.task-wrapper ul{
	display: inline-block;
}

.button-menu img.text-wrapper {
	margin: 0;
}

.task-wrapper a{
	padding: 15px 23px!important;
	color: white !important;
}

.task-wrapper li{
	vertical-align: middle;
	display: inline-block;
}

.task-wrapper a:hover{
	display: block;
	padding: 15px 23px!important;
	color: black!important;
	text-decoration: none;
}

/*
.button-menu ul>li> a:hover + .task-wrapper {
	overflow: hidden;
	position: relative;
	display: inline-block;
	margin-left: 20px;
}

/* Header Style */
.fixed-header{
	position: fixed;
	top: 0;
	margin-left: 151px;
}

header{
	width: calc(100% - 120px);
	height: 75px;
	background-color: #ffffff;
	text-align: center;
	min-width: 1280px;
}

.notifications{
	display: inline-block;
	float: left;
	padding: 22px;
}

.title-page{
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}

.settings{
	display: inline-block;
	float: right;
	margin-right: 151px;
	padding: 27px;
}

.settings img{
	margin: 0 10px;
}

.paris{
	display: inline-block;
	background-image: url('images/image-paris.png');
	width: 822px;
	height: 181px;
	vertical-align: top;
	margin-right: -4px;
}

.paris p{
	font-size: 14px;
	color: #FFF;
	float: left;
	margin-left: 9px;
	margin-top: 25px;
}

.paris img{
	float: left;
	margin-left: 15px!important;
	margin-top: 21px;
}

.images-portada{
	margin-top: -2px;
	float: left;
}

.images-portada img:first-child{
	margin-right: -4px;
}

.images-portada img:last-child{
	margin-left: -4px;
}

/* Content Style */
.content{
	min-width: 1129px;
	margin-left: 151px;
	margin-top: 256px;
	background-color: #e9eef1
}

.content-left{
	display: inline-block;
}

.content-right{
	width: 722px;
	display: inline-block;
	vertical-align: top;
}

.mail{
	border: 1px solid #e9eef1;
	width: 370px;
	background-color: white;
	border-radius: 4px;
	margin: 15px;
	display: inline-block;
}

.name-mail{
	display: inline-block;
	margin-top: 10px;
	color: #f55155;
	font-size: 19px;
}

.title-mail{
	text-align: center;
	margin-bottom: 6px;
}

.title-mail img{
	margin-top: 10px;
}

.icon-mail{
	float: right;
	margin-top: 5px !important;
	margin-right: 5px;
}

.usuario{
	border-bottom: 1px solid #e9eef1;
}

.usuario p{
	font-size: 13px;
	color: #5a5a5a;
	padding: 19px 37px;
	line-height: 1.5em;
}

.usuario img{
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}

.info-usuario{ç
	font-size: 14px;
	padding-top: 16px;
	display: inline-block;
}

.info-usuario p{
	padding: 0 !important;
	font-size: 14px;
	color: #999999;
	margin-bottom: 5px;
}

.info-usuario span{
	font-size: 13px;
	color: #393939;
}

.hour{
	font-size: 12px!important;
	float: right;
	color: #b8b8b8!important;
	margin-right: -115px;
}

.heart{
	margin-top: 27px!important;
	margin-left: 10px;
}

/* Notes Style */
.notes{
	border: 1px solid #e9eef1;
	width: 370px;
	background-color: white;
	border-radius: 4px;
	margin: 15px;
	margin-top: 0px;
}

.name-notes{
	display: inline-block;
	margin-top: 10px;
	color: #c664e4;
	font-size: 19px;
}

.title-notes{
	text-align: center;
	margin-bottom: 20px;
}

.etiquet{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.notes-title{
	margin-top: 10px;
}

.plus-notes{
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

.stories, .work, .food{
	border-bottom: 1px solid #e9eef1;
}

.stories p, .work p, .food p{
	padding: 25px 14px;
	color: #878787;
	font-size: 12px;
}

.stories span{
	background-color: #00d4c4;

}

.work span{
	background-color:#e39949 ;

}

.food span{
	background-color: #01acd4;
}

.food span, .work span, .stories span{
	padding:4px;
	border-radius: 3px;
	float: right;
	margin-right: 15px;
	margin-top:21px;
	font-size: 11px;
	color: white;
}

/* Calendar Style */
.calendar{
	margin: 18px 18px 18px 0;
	width: 705px;
	height: 454px;
	background-color:white;
	border-radius: 4px;
	
}

.name-calendar{
	display: inline-block;
	margin-top: 20px;
	color: #eb9f37;
	font-size: 19px;
}
.point-notifications{
	position: relative;
	text-align: center;
	vertical-align: top;

	width: 20px;
	height: 14px;
}

.point-notifications span{
	position: relative;
}

.title-calendar{
	text-align: center;
	margin-bottom: 21px;
}

.img-title{
	margin-top: 20px;
}

.plus-calendar{
	float: right;
	padding: 20px;
}

.box-months{
	padding: 20px;
	text-align: center;
	float: left;
	width: 140px;
}

.left-month{
	float: left;
	margin-top: 2px;
}

.right-month{
	float: right;
	margin-top: -13px;
}

.list-notifications{
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
}

.list-notifications ul{
	padding-left: 35px;
	margin-top: 20px;
}

..list-notifications li{
	margin-bottom: 5px;
}

.list-notifications span, .gray{
	color: #b8b8b8;
}

.list-notifications span{
	font-size: 10px;
	margin-left: 35px;
	margin-bottom: 10px;
}

.list-notifications a{
	text-decoration: none;
	color: #787878;
	font-size: 13px;
}

.point-cian { 
	list-style-image: url("images/point-cian.png"); 
}

ul.point-pink { 
	list-style-image: url("images/point-pink.png"); 
}

ul.point-blue { 
	list-style-image: url("images/point-blue.png"); 
}

ul.point-orange { 
	list-style-image: url("images/point-orange.png"); 
}

.table-calendar{
	margin-right: 4px;
	width: 474px;
	height: 394px;
	display: inline-block;
	float: right;
}

table{
	width: 100%;
}

table td:hover{
	cursor: pointer;
}

td{
	padding: 18px 23px;
}

td a{
	text-decoration: none;
}

tbody td{
	border-top: 1px solid #f2f2f2;
}

tbody tr{
	border-left: 1px solid #f2f2f2;
	border-right:1px solid #f2f2f2;
}

thead td{
	color: #bfbfbf;
	font-size: 12px;
}

thead td:hover, td.active-day{
	color: #2381d6!important;
}

/* Contact Style */
.contacts{
	width: 350px;
	background-color: white;
	border-radius: 4px;
	margin-bottom: 15px;
	display: inline-block;
}

.name-contacts{
	display: inline-block;
	margin-top: 10px;
	color: #89bb3c;
	font-size: 19px;
}

.title-contacts{
	text-align: center;
	margin-bottom: 30px;
}

.title-contacts img{
	margin-top: 10px;
}

.lupa-contacts{
	float: left;
	margin-left: 10px;
}

.plus-contacts{
	float: right;
	margin-right: 10px;
}

.contact{
	border-bottom: 1px solid #f2f2f2;
}

.contact img{
	margin-left: 20px;
	float: left;
}

.info-contact{
	overflow: hidden;
	margin-left: 70px;
	line-height: 1.2em;
	margin-bottom: 10px;
	margin-top: 5px;
}

.info-contact p{
	font-size: 13px;
}

.info-contact span{
	color: #b8b8b8;
	font-size: 12px;
}

/* Weather Style */
.weather{
	height: 220px;
	vertical-align: top;
	margin: 0 13px 15px 15px;
	width: 339px;
	background-image: url('images/image-azul.jpg');
	background-size: 350px 220px;
	border-radius: 4px;
	display: inline-block;
}

.name-weather{
	display: inline-block;
	margin-top: 13px;
	color: white;
	font-size: 19px;
}

.title-weather{
	text-align: center;
	margin-bottom: 30px;
}

.title-weather img{
	margin-top: 10px;
}

.plus-weather{
	float: right;
	margin-right: 10px;
}

.arrow-left-weather{
	float: left;
	margin-left: 10px;
	margin-top: 7px
}

.arrow-left-weather img{
	width: 8px;
	height: 13px;
}

.arrow-right-weather{
	float: left;
	margin-left: 20px;
	margin-top: 7px
}

.info-weather{
	display: inline-block;
	margin-left: 10px;
	line-height: 1em;
}

.info-weather span{
	color: white;
	font-size: 18px;
}

.info-weather p{
	color: white;
	font-size: 12px;
}

.temp{
	float: right;
	margin-right: 10px;
}

.temp p{
	display: inline-block;
	font-size: 40px;
	color: white;
	vertical-align: top;
}

.temp ul{
	margin-left: 28px;
	font-size: 12px;
}

.temp li{
	display: inline-block;
}

.temp a{
	text-decoration: none;
	color: white;
}

.temp img{
	margin-bottom: 20px;
}

/* Alert Style */
.relative-td{
	position: relative;
}

.alert-noti-pink{
	position: absolute;
	display: none;
	background-color: #f5f7f9;
	padding: 20px;
	border: 2px solid #c7d4da;
	bottom: 11px;
	right: 69px;
	height: 170px;
	width: 170px;
	border-radius: 4px;
}

.alert-noti-pink p{
	color: #393939;
	float: left;
}

.alert-noti-pink.on{
	display: inline-block;
}

.square-noti-pink{
	width: 15px;
	height: 15px;
	background-color: #cf67ef;
	float:right;
}

.square-noti-cian{
	width: 15px;
	height: 15px;
	background-color: #00d4c4;
	float:right;
}

.square-noti-orange{
	width: 15px;
	height: 15px;
	background-color: #eb9f37;
	float:right;
}



.alert-noti-pink span{
	display: block;
	margin-top: 60px;
	margin-right: 150px;
	color: #aeafaf;
}

.alert-noti-pink span:last-child{
	margin-top: 67px;
}

.arrow-noti-pink{
	z-index: 999;
	display: none;
	position: absolute;
	float: right;
	top: -34px;
	right: 59px;
}

.arrow-noti-pink.on{;
	display: inline-block;
}
/**/
.relative-td{
	position: relative;
}

.alert-noti-cian{
	position: absolute;
	display: none;
	background-color: #f5f7f9;
	padding: 20px;
	border: 2px solid #c7d4da;
	bottom: 5px;
	right: 53px;
	height: 170px;
	width: 170px;
	border-radius: 4px;
}

.alert-noti-cian p{
	color: #393939;
	float: left;
}

.alert-noti-cian.on{
	display: inline-block;
}

.alert-noti-cian img{
	
	float: right;
}

.alert-noti-cian span{
	display: block;
	margin-top: 60px;
	margin-right: 150px;
	color: #aeafaf;
}

.alert-noti-cian span:last-child{
	margin-top: 67px;
}

.arrow-noti-cian{
	z-index: 999;
	display: none;
	position: absolute;
	float: right;
	top: -28px;
	right: 43px;
}

.arrow-noti-cian.on{;
	display: inline-block;
}

/**/
.relative-td{
	position: relative;
}

.alert-noti-orange{
	position: absolute;
	display: none;
	background-color: #f5f7f9;
	padding: 20px;
	border: 2px solid #c7d4da;
	bottom: 11px;
	right: 69px;
	height: 170px;
	width: 170px;
	border-radius: 4px;
}

.alert-noti-orange p{
	color: #393939;
	float: left;
}

.alert-noti-orange.on{
	display: inline-block;
}

.alert-noti-orange img{
	
	float: right;
}

.alert-noti-orange span{
	display: block;
	margin-top: 60px;
	margin-right: 150px;
	color: #aeafaf;
}

.alert-noti-orange span:last-child{
	margin-top: 67px;
}

.arrow-noti-orange{
	z-index: 999;
	display: none;
	position: absolute;
	float: right;
	top: -40px;
	right: 59px;
}

.arrow-noti-orange.on{;
	display: inline-block;
}