/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf'); /* IE9 Compat Modes */
}

*{
	box-sizing: border-box;
}

body {
	font-family: 'OpenSans';
	padding:0px;
	margin:0px;

	background: rgb(179,220,237); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(179,220,237,1) 0%, rgba(41,184,229,1) 0%, rgba(188,224,238,1) 47%, rgba(188,224,238,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(179,220,237,1)), color-stop(0%,rgba(41,184,229,1)), color-stop(47%,rgba(188,224,238,1)), color-stop(99%,rgba(188,224,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 0%,rgba(188,224,238,1) 47%,rgba(188,224,238,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 0%,rgba(188,224,238,1) 47%,rgba(188,224,238,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 0%,rgba(188,224,238,1) 47%,rgba(188,224,238,1) 99%); /* IE10+ */
	background: linear-gradient(to right,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 0%,rgba(188,224,238,1) 47%,rgba(188,224,238,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 */
}

.title{
	text-align: center;
	margin-bottom: 30px;
	padding-top: 20px;
}

.title img{
	width: 50px;
	height: 50px;
}

.title h1{
	display: inline-block;
	font-size: 40px;
	color: #3c6a90;
	vertical-align: top;
	margin-top: 6px;
}

.box-search{
	text-align: center;
}

#box{
	padding: 5px 10px;
	width: 300px;
	border-radius:5px 0 0 5px;
	border: 1px solid gray;
}

#button{
	border-radius:0 5px 5px 0;
	padding: 5px 10px;
	margin-left: -4px;
	background-color: #4e8d49;
	color: white;
	cursor: pointer;
}

.box-images{
	text-align: center;
}

.box-images li, .box-images ul{
	display: inline-block;
}

.box-images li img{
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
}

.box-images li{
	width: 20%;
	margin: 10px;
}


.box-absolute{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.64);
	width: 100%;
	height: 100%;
}

.box-absolute img{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 440px;
	height: 440px;
}

.close{
	float: left;
	background-color: red;
	padding: 10px;
}

.overflow{
	overflow: hidden;
}
.hide{display: none;}

.load-more{
	text-align: center;
}

#load{
	border-radius:5px;
	padding: 5px 50px;
	margin-left: -4px;
	background-color: #4e8d49;
	color: white;
	cursor: pointer;
}






