/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
  font-family: 'manu-font';
  src: url('OpenSans-Regular.ttf'); /* IE9 Compat Modes */
  font-weight: 300;
}

body {
  font-family: 'manu-font', serif, arial , sans-serif;
  padding:0px;
  margin:0px;
}

a{
	text-decoration: none;
	list-style: none;
	font-size: 13px;
}

.inline-block{
	display: inline-block;
}

.color-letter{
	color: #bbc1ce;
}

.color-title{
	color: #687087;
}

.color-text-menu{
	color: #d7dde2;
}

.container{
	width: 960px;
	margin: 0 auto;
}

/* Estilo del menu */
.menu{
	height: 100%;
	width: 200px;
	color: #777f92;
}

.title{
	background-color: #29384d;
	padding: 16px;
}

.title ul{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	margin-left: 10px;
	list-style: none;
}

.first-box{
	padding: 20px;
	background-color: #35485e;
	border-bottom: 2px solid #29384d;
}

.first-box ul{
	padding: 0px;
	list-style: none;
	margin: 0px;
}

.first-box li:first-child{
	margin-top: -4px;
}

.first-box li:last-child{
	margin-bottom: 9px;
}

.first-box li{
	margin-top: 14px;
}

.first-box img{
	margin-right: 10px;
}


.second-box{
	padding: 20px;
	background-color: #35485e;
	border-bottom: 2px solid #29384d;
}

.second-box ul{
	padding: 0px;
	list-style: none;
	margin: 0px;
}

.second-box li{
	margin-top: 14px;
}

.second-box li:first-child{
	margin-top: -4px;
}

.second-box li:last-child{
	margin-bottom: 9px;
}

.second-box img{
	margin-right: 10px;
}

.empty{
	background-color: #35485e;
	height: 412px;
}

.foot-menu{
	background-color: #29384d;
	padding: 6px;
}

/* Estilo del content */
.content{
	height: 100%;
	width:calc(100% - 200px);
	color: #eef1f6;
	vertical-align: top;
	margin-left: -4px;
}

header{
	background-color: #35485e;
	padding: 17px;
	overflow: hidden;
}

header img{
	float: left;
}

header ul{
	float: right;
}

header p{
	color: #27374b;
	display: inline-block;
}

header li{
	display: inline-block;
	margin: 0 10px;
}

.marketing{
	background-color: #eef1f6;
}

.marketing ul{
	float: right;
	margin-right: 20px;
	border: 1px solid #cad2e1;
	border-radius: 3px;
	margin-top: 20px;
	padding: 6px;
}

.marketing a{
	color: #8c96b0;
	margin-right: 15px;
}

.marketing p{
	font-size: 20px;
	margin-top: 20px;
	padding: 6px;
	margin-left: 23px;
}

.marketing hr{
	margin: 0px;
	margin-top: 23px;
}

.button-marketing{
	margin-left: 13px;
	padding: 15px;
}

.button-marketing a{
	font-size: 12px;
	margin: 0 10px;
}

/* box scroll */
.content-info{
	background-color: #d4dae5;
}
.box-table{
	margin: 14px;
	display: inline-block;
	background-color: white;
	min-width: 960px;
	border-radius: 5px;
	overflow: hidden;
}

.box-coments{
	background-color: white;
	width: 700px;
}

table{
	border-radius: 3px;
}

th{
	background-color: #eef1f6;
	text-align: left;
}

td, th{
	width: 100%;
	color: #8894ae;
	border: 1px solid #f2f4f7;
	padding: 10px;
}

.width-td{
	width: 200px;
}











